* {
  box-sizing: border-box;
}

#root {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  overflow: visible;
  width: 100%;
  height: 150px;
  /* justify-content: space-between; */
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);

  background-color: rgb(27, 63, 59);
  /* #dafce9; */
  /* background-color: rgb(178, 172, 136); */
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: flex-start; /* Aligns the icons to the far left */
  /* flex: 1; */
  width: 20%;
}

.icons-container a {
  color: inherit;
  text-decoration: none;
  font-size: 40px;
}

.logo {
  display: flex;
  justify-content: center;
  /* has too much padding, reduce */
  width: 50%;
}

.logo img {
  width: 200px;
  height: auto;
}

.hamburger-container {
  flex: 1;
}

.nav-bar-form-button-container {
  width: 20%;
  padding: 12px;
  /* height: 30px; */

  display: flex;
  justify-content: center;
}

.nav-bar-form-button {
  padding: 5px;
  background-color: transparent;
  border: solid 1px rgb(0, 58, 0);
  color: black;
}

.content-container {
  overflow-x: hidden;
  background-color: #f0f3eb;
}

.opening-photo-container {
  border: 1px solid black;
}

.opening-photo-container img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.about {
  border: 1px solid black;
  padding: 30px;
}

.form-container {
  display: flex;
  flex-direction: row; /* Changed to row */
  flex-wrap: wrap; /* Allow items to wrap */

  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  background-image: url("/Users/patrickthesken/code/react-projects/da-green-rainbow/src/assets/images/background.png");
  background-repeat: repeat;
  background-size: 50px 50px;
  scroll-margin-top: 150px;
}

.form-item {
  margin: 10px; /* Adjust margin as needed */
}

.form-container label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.form-container input,
.form-container .masked-input {
  width: calc(
    100% - 20px
  ); /* May need adjustment based on .form-item padding */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input {
  font-size: 1.4rem;
}

.form-container button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  /* background-color: #005f73; */
  background-color: rgb(154, 180, 215);
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}

.form-container button:hover {
  background-color: #003f4f;
}

.photos {
  border: 1px solid black;
}

.footer {
  border: 1px solid black;
}

.swiper {
  width: 100%;
  height: 50dvh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
