@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.swiper {
  overflow-y: scroll;
  /* height: 100dvh; */
}

.swiper-container {
  width: 100%;
}

.swiper-pagination {
  position: fixed; /*this is a sign of the problem scrolling*/
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.swiper-pagination-bullet {
  background: #ff7f50; /* Customize the color */
}

.swiper-pagination-bullet-active {
  background: #ff4500; /* Customize the active bullet color */
}

#home .title,
#home .subtitle,
#home .text,
#home .social-icons a {
  color: white;
}

.home-slide-clip {
  max-height: 100dvh;
  overflow: hidden;
}

.slide-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100dvh;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  /* overflow-y: scroll; */
  position: relative;
}

.slide-content.no-bg-slide {
  background: none;
}

.home-slide-click-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100dvh; */
  margin-top: 60px;
}

.home-slide-body-text {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 3rem;
  color: #222121;
  margin-bottom: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 2rem;
  color: #555;
  margin-bottom: 20px;
  font-weight: 500;
}

.text {
  font-size: 1.2rem;
  color: #666;
  max-width: 600px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icons a {
  color: #222121;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff7f50;
}

button {
  background-color: #ff7f50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

button:hover {
  background-color: #ff4500;
}

.navigation-arrows {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* transform: translateY(-50%); */
  padding: 0 20px;
  pointer-events: none;
  font-size: 1px;
}

.arrow {
  cursor: pointer;
  color: #222121;
  transition: color 0.3s ease;
  pointer-events: auto;
  height: 150px;
  opacity: 0.75;
}

.arrow:hover {
  color: #ff7f50;
}

.arrow-left {
  margin-left: -55px;
}

.arrow-right {
  margin-right: -55px;
}

.about-slide {
  background-size: cover;
  background-position: center;
}

.about-text-content {
  background-color: rgba(
    163,
    215,
    231,
    0.732
  ); /* Semi-transparent black background */
  padding: 20px;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.about-text-content h2 {
  color: #222121;
}

.about-text-content p {
  color: #222121;
}

.image-gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.image-gallery-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background-color: #ff7f50;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #ff4500;
}

.form-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.date-picker {
  margin-top: 0.5rem;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.no-bg-slide {
  background: none;
}

.arrow {
  cursor: pointer;
  color: wheat;
  font-size: 8rem;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #ff7f50;
}
.navigation-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 1;
}

@media (min-width: 768px) {
  .slide-content {
  }
  .home-slide-click-contents {
    transform: scale(1.2); /* Adjust scale as needed */
  }
  .home-slide-body-text .title {
    font-size: 4rem; /* Increase font size */
  }
  .home-slide-body-text .subtitle {
    font-size: 2.5rem; /* Increase font size */
  }
  .text button {
    font-size: 1.2rem; /* Increase button font size */
    padding: 15px 30px; /* Increase button padding */
  }
  .social-icons a {
    font-size: 2rem; /* Increase icon size */
  }

  .arrow-left {
    margin-left: 0px;
  }

  .arrow-right {
    margin-right: 0px;
  }
}
